<?xml version="1.0" encoding="UTF-8" ?>
<Takaro7D2D>
  <WebSocket>
    <Url>ws://192.168.50.35:3004</Url>
    <IdentityToken>your-identity-token</IdentityToken>
    <RegistrationToken>your-registration-token</RegistrationToken>
    <Enabled>true</Enabled>
    <ReconnectIntervalSeconds>30</ReconnectIntervalSeconds>
  </WebSocket>
</Takaro7D2D>